.mainpage {
    background-color: #787586;
    padding: 60px 45px;
    display: flex;
    justify-content: center;
}

.inner-mainpage {
    max-width: 100%;
}

.inner-mainpage h1 {
    font-weight: normal;
    font-size: 4rem;
    margin: 0;
}

.inner-mainpage h2 {
    font-size: 1.5rem;
    font-weight: normal;
    /*line-height: 1.5;*/
}

.inner-mainpage span{
    font-size: 5rem;
    animation: arrows 1s infinite alternate-reverse;
    background: linear-gradient(90deg, black, red, gold);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes arrows{
    0% {
        background-position: 0%;
    }
    
    100%{
        background-position: 400%;
    }
}

.button {
    background-color: rgb(39, 0, 145);
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    display: inline-block;
    font-weight: bolder;
}
