body {
  margin: 0;
  background-color: black;
}

.container {
    position: relative;
  max-width: 100%;
  background-color: #ffffff;
  height: auto;
  margin: 50px auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}

.content{
    position: relative;
    font-size: 1.5rem;
    transform: translateY(-40px);
    display: flex;
}

.counter{
    position: absolute;
    right: 100px;
}

.c1{
    background-color: #101010dd;
}

.c2{
    background-color: #0388fcdd;
}

.c3{
    background-color: #fc3d03dd;
}

.tasks{
    position: absolute;
    width: 62%;
    height: 20%;
    object-fit: fill;
    overflow: auto;
    top: 10%;
    right: 15%;
}

.tasks li{
    list-style: none;
    height: 60px;
    line-height: 55px;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 0 15px;
    font-size: 2rem;
}

#level{
    color: red;
}

#delete{
    position: absolute;
    right: 0px;
}

#cats {
  padding: 20px;
  height: 210px;
  max-width: 97%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 1);
  border-radius: 25px;
}

#background {
    position: absolute;
  width: auto;
  height: 100%;
  opacity: 40%;
}

#bimg{
    max-width: 225px;
}
