body
{
    background-color: #3e3e3e;
}

h2 {
    padding: 5%;
    font-family: 'Manrope', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    color: #ffffff;
    font-weight: 500;
}

#pfp-button a
{
    color: aquamarine;
}
