.mainpage {
    background-color: #555555;
    padding: 0 3%;
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    background: transparent;
}

.inner-mainpage {
    padding: 0 10% 0 10%;
    max-width: 100%;
    position: relative;
}

.inner-mainpage h1 {
    font-weight: normal;
    font-size: 4.5rem;
    color: #ffffff;
    margin: 0;
    font-weight: 800;
    position: relative;
}

.title
{
    text-align: center;
}

.inner-mainpage h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    color: #ffffff;
    font-weight: 500;
}

.inner-mainpage span {
    font-size: 5rem;
    animation: arrows 2s infinite ease-out;
    background: linear-gradient(-30deg, black 85%, white, black 95%);
    background-size: 100% 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes arrows {
    0% {
        background-position: 0% 200%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.button {
    background-color: rgb(39, 0, 145);
    color: #fff;
    text-decoration: none;
    padding: 30px 30px;
    border-radius: 18px;
    font-size: 3rem;
    display: inline-block;
    font-weight: bold;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.slider-cover {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
}

.slider {
    background-color: #555555;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.slider-inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    gap: 10%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.img {
    min-width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

.arrows {
    font-size: 10rem;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
    color: #ffffff;
}

.arrows:hover {
    color: #878787;
}

#arrRight {
    right: -3%;
}

#arrLeft {
    left: -3%;
}