.mainpage {
    background-color: #555555;
    padding: 60px 45px;
    font-family: 'Inter', sans-serif;
}

.inner-mainpage {
    max-width: 100%;
    position: relative;
}

.inner-mainpage h1 {
    font-weight: normal;
    font-size: 4.5rem;
    color: black;
    margin: 0;
    font-weight: 800;
    position: relative;
}

.title
{
    text-align: center;
}

.inner-mainpage h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    color: black;
    font-weight: 500;
}

.inner-mainpage span {
    font-size: 5rem;
    animation: arrows 2s infinite ease-out;
    background: linear-gradient(-30deg, black 85%, white, black 95%);
    background-size: 100% 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes arrows {
    0% {
        background-position: 0% 200%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.button {
    background-color: rgb(39, 0, 145);
    color: #fff;
    text-decoration: none;
    padding: 30px 30px;
    border-radius: 18px;
    font-size: 3rem;
    display: inline-block;
    font-weight: bold;
    right: 0;
}

.slider {
    background-color: #555555;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.slider-inner {
    position: absolute;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.item {
    margin: 0 100px;
    position: relative;
    width: 1000px;
    height: 100%;
    overflow: hidden;
}

.img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
