.mainpage {
    background-color: #555555;
    padding: 60px 45px;
    display: flex;
    justify-content: center;
}

.inner-mainpage {
    max-width: 100%;
}

.inner-mainpage h1 {
    font-weight: normal;
    font-size: 4rem;
    color: black;
    margin: 0;
}

.inner-mainpage h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: black;
    /*line-height: 1.5;*/
}

.inner-mainpage span{
    font-size: 5rem;
    animation: arrows 2s infinite ease-out;
    background: linear-gradient(-30deg, black 85%, white, black 95%);
    background-size: 100% 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes arrows{
    0% {
        background-position: 0% 200%;
    }
    
    100% {
        background-position: 0% 0%;
    }
}

.button {
    background-color: rgb(39, 0, 145);
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    display: inline-block;
    font-weight: bolder;
}

.slider {
    background-color: #555555;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.slider-inner {
    position:absolute;
    height: 100%;
    width: 2800px;
    display: flex;
    justify-content: space-around;
}   

.item {
    position: relative;
    width: 600px;
    height: 100%;
    overflow: hidden;
    /* background-color: rebeccapurple; */
}

.img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
     background-color: red; 
     /*background-image: url("https://www.gusd.net/cms/lib/CA01000648/Centricity/Domain/1639/Falcons.jpg");*/
}
