body
{
    margin: 0;
    padding: 0;
    background-color: #696969;
}

.requestForm
{
    height: 1200px;
    width: 800px;
    border-radius: 50px;
    background-color: #738598;
    margin: 6% auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
}

.headerForm
{
    height: 150px;
    width: 100%;
    border-radius: 50px;
    background-color: #3c415e;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerForm h1
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
}

.requestForm select
{
    width: 80%;
    height: auto;
}

.requestForm button
{
        color: #fff;
        width: 70%;
        padding: 25px;
        border-radius: 20px;
        font-size: 1rem;
        margin-top: 5%;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #1cb3c8; 
}

.input-box {
    background-color: #dfe2e2;
    border-radius: 40px;
    padding: 20px;
    margin-top: 5%;
    width: 80%;
    border: 2px solid #999;
    outline: none;
    font-size: 1rem;
}

.input-box:focus
{
    border: 3px solid #303030;
}

select
{
    margin-top: 5%;
    width: 80%;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    background-color: #c4c4c4;
    font-size: 1.2rem;;
}

select:hover
{
    background-color: #aaaaaa;
}

textarea {
    min-height: 250px;
    width: 80%;
    margin-top: 5%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    }