/* This CSS code is incharge of all the scrollbar effect of all html page */

body{
    margin: 0;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 0.6em;
}

body::-webkit-scrollbar-track {
    margin-block-end: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 100px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}
