body {
    background-color: #171717;
}

/*body::-webkit-scrollbar {*/
/*    width: 0.6em;*/
/*}*/

/*body::-webkit-scrollbar-track {*/
/*    margin-block-end: 5px;*/
/*}*/

/*body::-webkit-scrollbar-thumb {*/
/*    background: #424242;*/
/*    border-radius: 100px;*/
/*}*/

/*body::-webkit-scrollbar-thumb:hover {*/
/*    background: #aaaaaa;*/
/*}*/

.tasks::-webkit-scrollbar {
    width: 0.6em;
}

.tasks::-webkit-scrollbar-track {
    margin-block-end: 5px;
}

.tasks::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 100px;
}

.tasks::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}

.container {
    position: relative;
    max-width: 100%;
    background-color: #171717;
    height: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
}

.content {
    position: relative;
    font-size: 1.5rem;
    transform: translateY(-40px);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.inputfield {
    display: flex;
    height: 60px;
    width: 100%;
    margin: 20px 11.5%;
}

.inputfield input {
    outline: none;
    font-size: 2rem;
    width: 87%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 15px;
}

.inputfield button {
    width: 80px;
    height: 106%;
    border: none;
    outline: none;
    background: #8e49e8;
    color: #fff;
    font-size: 60px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    align-items: center;
    opacity: 0.6;
    pointer-events: none;
}

.inputfield button.active {
    opacity: 1;
    pointer-events: auto;
}

.c1 {
    background-color: #474747aa;
}

.c2 {
    background-color: #0388fcaa;
}

.c3 {
    background-color: #fc3d03aa;
}

.tasks {
    position: absolute;
    width: 62%;
    height: 70%;
    overflow: auto;
    top: 25%;
    right: 15%;
}

.tasks li {
    list-style: none;
    height: 60px;
    line-height: 55px;
    position: relative;
    background-color: #8f8f8f;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 0 15px;
    font-size: 2rem;
    overflow: hidden;
}

.tasks li:hover #delete {
    right: 0;
}

#level {
    color: red;
}

#delete {
    position: absolute;
    right: -60px;
    top: 0px;
    background-color: rgb(216, 0, 0);
    color: #ffffff;
    font-size: 60px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#cats {
    padding: 20px;
    height: 300px;
    max-width: 97%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    border-radius: 25px;
    position: relative;
}

#background {
    position: absolute;
    font-size: 300px;
    color: rgb(255, 255, 255);
    opacity: 50%;
}
